@import "bootstrap";

body {
  padding-top: 10px;
  background-color: #eee;
  margin: 20px;
}

.head {
  background-color: darkgray;
 
}
.personalpronoun {
  background-color: lightgreen;
}
.verb {
  background-color: lightblue;
}

.adjektiv {
  background-color: lightcyan;   
}

.adverb {
  background-color: lightpink;   
}

.masculinum {
  background-color: yellow
}
.femininum {
  background-color: gold;
}
.neutrum {
  background-color: khaki;
}
.other {
  background-color: gray;
}