@import "bootstrap";

body {
  padding-top: 10px;
  background-color: #eee;
  margin: 20px;
}

.head {
  background-color: darkgray;
 
}
.noun {
  background-color: lightyellow;
}
.verb {
  background-color: lightblue;
}