@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 10px;
  background-color: #eee;
  margin: 20px;
}

.head {
  background-color: darkgray;
}

.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.adjektiv {
  background-color: lightcyan;   
}
.adverb {
  background-color: lightpink;   
}
.personalpronoun {
  background-color: lightgreen;
}
.verb {
  background-color: lightblue;
}

.masculinum {
  background-color: yellow
}
.femininum {
  background-color: gold;
}
.neutrum {
  background-color: khaki;
}
.other {
  background-color: lightgray;
}
